// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$mm-orange: rgb(230, 144, 58);
$mm-gray: rgb(26, 29, 33);
$mm-lightgray: rgb(34, 37, 41);
$mm-normalgray: rgb(169,169,169);
$mm-darkgray: #1a1d21;
$mm-white: rgb(245,245,245);


