<div class="three-mountains">
  <div id="chamonix-photo" class="mountain">
    <div class="darken"></div>
    <div class="location">
      <h1>Chamonix</h1>
       <h2>France</h2>
    </div>
  </div>
  <div id="whistler-photo" class="mountain">
    <div class="darken"></div>
    <div class="location">
      <h1><a href="/mountains/1/trails">Whistler</a></h1>
       <h2>Canada</h2>
     </div>
  </div>
  <div id="cardrona-photo" class="mountain">
    <div class="darken"></div>
    <div class="location">
      <h1>Cardrona</h1>
      <h2>New Zealand</h2>
    </div>
  </div>
</div>


 <!--  <% @mountains.each do |mountain| %>
    <p><%= mountain.name %></p>
  <% end %> -->


<!--   <%= link_to root_path do %>
  <div>Hey!</div>
<% end %> -->


<!-- /mountains/1/trails -->


