.preloader.active {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(23, 22, 22);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.preloader {
  display: none;
}

.loading-image-container {
  position: relative;
  width: 130px;
  height: 97px;
}

.loading-image {
  background-image: asset-url('loading-image.png');
  background-size: 130px;
  width: 0%;
  height: 100%;
  animation-name: slide-fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes slide-fade {
  0% {
    opacity: 1;
    width: 0%;
  }

  50% {
    opacity: 1;
    width: 100%;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}
