// Layout
.layout {
  margin: 1em;
}

// Title section
.show-title {
  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 24px;
  }

  h1 {
    font-weight: 700;
    font-size: 3.3em;
  }
}
.text-content {
  img {
   position: relative;
   margin-top: -17px;
   margin-right: 5px;
  }

  p {
    margin-left: 4px;
  }
}

.trail-images {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  height: 220px;
  object-fit: cover;
  width: 100%;
  img {
    max-width: 100%;
    height: 100%;
  }
  h1 {
    text-align: center;
    position: absolute;
  }
}

// Review Section
.review-section {
  margin-top: 1em;
}

.reviews-display {
  background-color: $mm-lightgray;
  padding: 1em;
  overflow: scroll;
  height: 29em;
}

.reviews-card {
  display: flex;
  align-items: flex-end;

  img {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 60px;
    border: 1px solid #fff;
  }

 .reviews-head {
    h2 {
      margin: 0;
      font-size: 1.3em;
      color: $mm-gray-font;
    }

    p {
      font-size: 0.9em;
      color: $mm-light-font;
    }
 }
}

.card-contents{
  margin-bottom: 1em;
  p {
    font-size: 1em;
    color: $mm-gray-font;
    margin: 0px;
  }
}

// Add reviews
.add-reviews {
  margin-top: 20px;
}

.submit-button {
  margin: 20px 0;
  width: 100%;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

