<%# Turbo Frame %>
<%= turbo_frame_tag('sidebar') do %>
<%#---Side nav ---%>
  <div class="sidenav">
    <%#---Searchbar---%>
    <div class="search-bar">
      <input type="text" class="search-box" placeholder="Search...">
      <button class="btn btn-warning">Search</button>
    </div>
    <div id="filter-button" class="">
      <a id="trail-difficulty-toggle" data-difficulty="beginner">Beginner</a>
      <a id="trail-difficulty-toggle" data-difficulty="intermediate">Intermediate</a>
      <a id="trail-difficulty-toggle" data-difficulty="advanced">Advanced</a>
      <a id="trail-difficulty-toggle" data-difficulty="expert">Expert Only</a>
      <a id="trail-difficulty-toggle" data-difficulty="proline">Proline</a>
    </div>
    <%#---end---%>

    <%#---Show all trails---%>
    <div class="trails my-shuffle-container">
      <% @trails.each do |trail| %>
      <div class="trails-path" id="trail-shuffle" data-difficulty="<%= trail.difficulty %>" data-title="<%= trail.name %>">
        <div class="overlay"></div>
        <%= link_to trail.name, trail_path(trail), class: "trails-content"%>
        <i class="fas fa-trailer icon"></i>
      </div>
      <% end %>
      <div class="my-sizer-element"></div>
    </div>
    <%#---end---%>
  </div>
<% end %>


    <!-- <div class="trails"> -->
<!--       <%# @trails.each do |trail| %>
      <div class="trails-path my-shuffle-container">
        <div class="trail-suffle" data-groups='["<%# trail.difficulty %>"]' data-title="<%# trail.name %>">
          <div class="overlay"></div>
          <%# link_to trail.name, trail_path(trail), class: "trails-content"%>
          <i class="fas fa-trailer icon"></i>
        </div>
        <div class="my-sizer-element"></div>
      </div>
      <%# end %>
    </div> -->
