#upload-photo {
  width: 100%;
  height: 100%;
  padding: 20px;

  form label {
    display: none;
  }

  .submit-button {
    margin: 0px;
  }
}
#photo_image {
  background: #ececec;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
